# Python-generated
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Default sqlite3 database file
db.sqlite3

# env file
.env

# Media and Static files
media/
staticfiles/